@import "styles";

.title-question {
  text-align: center;
}

.card {
  cursor: pointer;
}

.correct {
  background-color: green;
  cursor: default;
}

.incorrect {
  background-color: red;
  cursor:default;
}

.no-selected {
  cursor:default;
}

.disabled-card {
  opacity: 0.3;
}

.next-question-button {
  display: flex;
  justify-content: center;
}

button {
  background-color: #007bff;
  color: #fff;
  border: size(1) solid #007bff;
  padding: size(10) size(15);
  border: size(1) solid #ccc;
  border-radius: size(5);
  margin-top: size(10);
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
  cursor: pointer;
}

button[disabled] {
  background-color: #ccc;
  color: #666;
  border: size(1) solid #ccc;
  cursor: not-allowed;
}

