<div class="container">
  <div class="row title-question">
    <div class="col-12 mt-4">
      <h2>{{ questionData.question }}</h2>
    </div>
  </div>

  <div class="row mt-4" [ngClass]="{'disabled-card': nextQuestion}">
      @for (answer of questionData.answers; track answer;) {
        <div (click)="selectAnswer(answer.answer, answer.correct)" class="card col-6"
        [ngClass]="{'correct': answer.selected && answer.correct, 'incorrect': answer.selected && !answer.correct}">
          <div class="card-body">
            <p class="answer">{{ answer.answer }}</p>
          </div>
        </div>
      }
  </div>
</div>

@if(endGame){
  <div class="next-question-button">
    <button type="submit" (click)="goToResults()" [disabled]="!nextQuestion">Final del Juego</button>
  </div>
}@else{
  <div class="next-question-button">
    <button type="submit" (click)="otherQuestion()" [disabled]="!nextQuestion">Siguiente Pregunta</button>
  </div>
}


